
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f2f4f7;
}


nav {
    background-color: #222;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

nav a:hover {
    color: #4db8ff;
}


.container {
    padding: 30px;
    max-width: 900px;
    margin: auto;
}

h1, h2 {
    text-align: center;
    margin-bottom: 20px;
}


.home-title {
    color: #2196F3;
}

.about-title {
    color: #FF8C42;
}

.skills-title {
    color: #3CB371;
}

.center-text {
    text-align: center;
}


.skill-boxes {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: #ffffff;
    padding: 20px;
    border: 2px solid #cfcfcf;
    border-radius: 6px;
    width: 30%;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.1);
}


.card:nth-child(1) {
    background-color: #e7ffe7;
}

.card:nth-child(2) {
    background-color: #e7f0ff;
}

.card:nth-child(3) {
    background-color: #fff1e6;
}


.contact-title {
    color: #7b42ff;
}

.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.contact-box {
    background: #ffffff;
    padding: 25px;
    border-radius: 6px;
    border: 2px solid #d1c8ff;
    width: 330px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

.contact-box p {
    margin: 8px 0;
    font-size: 16px;
    text-align: center;
}
